/* Colors */
:root {
  --dark-purple:#4F3A65;
  --light-purple:#574F7D;
  --dark-blue: #95ADBE;
  --light-blue: #DFF0EA;
  --orange: #F48256;
  --light-orange: #FFB589;
  --white: #fff;
  --black: #111;
  --gray: #aaa;
  --silver: #ddd;
  --red: #ff4136;
  --true-red: #bc243c;
}

/* Global styles */
header {
  /* background: rgba(255,255,255,0.5); */
}
header ul.nav {
  padding: .5rem;
}

.private {
  background-position: center center;
  background-size: cover;
  min-height: 95vh;
  width: 100vw;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 10px;

  background: var(--light-purple);
  color: var(--white);
}
footer > .container {
  width: 200px;
  margin: 0;
}

/* Custom styles */
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.cancel {
  font-size: .75rem;
  border: 1px solid var(--red);
  color: var(--red);
  background: var(--white);
  padding: 4px 6px;

  transition: all .25s;
  cursor: pointer;
}
.cancel:hover {
  color: var(--white);
  background: var(--red);
}

/* Layout */
.my-container {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 2 1 auto;
}
.main {
  margin: 0 auto;
  padding: 75px 0;
  height: 100%;
}
.main-background {
  background-color: #25005e;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23bc92ff' fill-opacity='0.42'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.main-no-padding {
  padding: 0;
}

.my-nav {
  padding: .5rem 1rem;
  display: block;
}
.my-nav-btn {
  padding: .25rem 1rem;
  display: block;
}

.hero {
  width: 100vw;
  height: 95vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url("./images/elena-mozhvilo-halloween.jpg");
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: var(--white);
}

.hero a,
.hero .welcome {
  border: 2px double var(--white);
  padding: 7px 10px;
  font-size: 14px;
  color: var(--white);
}
.hero-signup:hover {
  color: var(--silver);
}

.my-form {
  width: 380px;
  margin: 0 auto;
  padding: 3.5rem 4rem 8rem;

  background: rgba(0,0,0,0.75);
  color: var(--white);
}
.my-form h1 {
  margin-bottom: 30px;
}
.my-form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.button-group {
  margin-top: 30px;
}
.button-group .btn {
  width: 100%;
}
.form-text {
  text-align: center;
}
.inverse-form {
  background: rgba(255,255,255,0.75);
  color: var(--black);
  border: 2px solid var(--black);
  padding: 2.5rem 3rem;
  margin: 3rem auto;
}
.inverse-form h1 {
  font-size: 1.8rem;
}

.bio-form form,
.profile-header-form form {
  min-width: 50vw;
  margin: 0 auto;
}

/* Bootstrap Override */
.card-columns {
  columns: 3;
}

a {
  color: var(--orange);
}
a:hover {
  color: var(--light-orange);
}
.btn-primary {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}
.btn-primary:hover {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
}
.btn-outline-primary {
  border-color: var(--dark-blue);
  color: var(--dark-blue)
}
.btn-outline-primary:hover {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
  color: var(--white);
}
.btn-outline-danger {
  color: var(--red);
  border-color: var(--red);
}
.btn-outline-danger:hover {
  background: var(--red);
  border-color: var(--red);
  color: var(--white);
}
.btn-danger {
  border-color: var(--red);
  background: var(--red);
}
.btn-danger:hover {
  background: var(--true-red);
  border-color: var(--true-red);
}

/* Toast override */
.Toastify__toast {
  background: var(--dark-blue);
  color: var(--white);
}
.Toastify__progress-bar--animated {
  background-color: var(--light-blue);
}
.Toastify__close-button > svg {
  color: var(--light-blue)
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  color: var(--light-blue);
}