/* Global styles */
header {
  /* background: rgba(255,255,255,0.5); */
}
header ul.nav {
  padding: .5rem;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 10px;

  background: rgba(0,0,0,0.75);
}

/* Custom styles */

/* Layout */
.my-container {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 2 1 auto;
}
.main {
  margin: 0 auto;
  padding: 75px 0;
  height: 100%;
}
.main-background {
  background-color: #25005e;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23bc92ff' fill-opacity='0.42'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.my-nav {
  padding: .5rem 1rem;
  display: block;
}
.my-nav-btn {
  padding: .25rem 1rem;
  display: block;
}

.hero {
  width: 100vw;
  height: 85vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ),
    url("./images/elena-mozhvilo-halloween.jpg");
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: #fff;
}

.hero a,
.hero .welcome {
  border: 2px double #fff;
  padding: 7px 10px;
  font-size: 14px;
  color: #fff;
}

.my-form {
  width: 380px;
  margin: 0 auto;
  padding: 3.5rem 4rem 8rem;

  background: rgba(0,0,0,0.75);
  color: #fff;
}
.my-form h1 {
  margin-bottom: 30px;
}
.my-form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.button-group {
  margin-top: 30px;
}
.button-group .btn {
  width: 100%;
}
.form-text {
  text-align: center;
}
.inverse-form {
  background: rgba(255,255,255,0.75);
  color: #000;
  border: 2px solid #000;
  padding: 2.5rem 3rem;
  margin: 3rem auto;
}
.inverse-form h1 {
  font-size: 1.8rem;
}

.bio {
  
}
.bio form {
  display: inline-block;
}
.bio form input,
.bio .btn {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.bio form input {
  width: 60vw;
}

/* Bootstrap Override */
.card-columns {
  columns: 3;
}